{% extends "base.html" %}
{% block content %}
    <div class="row">
      <h3>hello below are your realestate properties</h3>
      <div class="col-md-6">
        <img src=" {{ url_for('static', filename='img/3.png') }} ">
        <img src=" {{ url_for('static', filename='img/4.png') }} ">
      </div>

      <div class="col-md-6">
        <img src=" {{ url_for('static', filename='img/5.png') }} ">
        <img src=" {{ url_for('static', filename='img/6.png') }} ">
      </div>
  </div>

{% endblock %}

